.pagination-button {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    margin-top: 10%;
}
.pagination-button:hover{
    background-color: #007bff;
}
.pagination-button.active {
    background-color: #007bff;
    color: rgb(170, 158, 158);
}

.pagination-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
.data-container{
    border: 1px solid black;
}